* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;

  background-repeat: no-repeat;
}

header {
  background-image: url("logo.png");
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-size: cover;
  /* background-position: center; */
}

.logo {
  align-items: center;
}

.logo img {
  margin-right: 1px; /* Menambahkan jarak antara gambar dan teks */
}

/* Navigation Bar Styles */
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.2s ease;
}

.navbar-nav a:hover {
  color: #34c759;
}

.navbar-extra {
  display: none;
}

/* Welcome Section Styles */

/* Welcome Section */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.welcome-image img {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.welcome-content h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: black;
  /* mix-blend-mode: difference; */
  text-shadow: #34c759;
}

.welcome-content button {
  background-color: #34c759;
  color: #f7dc6f;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.welcome-content button:hover {
  background-color: #f7dc6f;
  color: #34c759;
}

/* Highlights Section */
.highlights {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.highlight {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.highlight h2 {
  margin-bottom: 10px;
  color: #333;
}

.highlight ul {
  list-style-type: none;
  padding-left: 0;
}

.highlight ul li {
  margin-bottom: 10px;
}

/* Footer Styling */
footer {
  background-image: url("logo.png");
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-content a:hover {
  text-decoration: underline;
  color: #34c759;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-nav {
    display: none; /* Hide the main navigation by default */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust according to the header height */
    left: 0;
    width: 100%;
    background-image: url("logo.png");
    padding: 10px 0;
    border-top: 1px solid #34c759;
    z-index: 10;
    justify-content: center;
  }

  .navbar-nav a {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .navbar-extra {
    display: block;
  }
  #hamburger-menu {
    font-size: 24px;
    color: #fff;
  }
  #hamburger-menu:hover {
    color: #34c759;
  }
  .footer-content {
    padding: 0 10px;
  }

  .footer-content a {
    display: block;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .navbar-nav a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .navbar-extra {
    display: block; /* Show the hamburger menu on small screens */
  }

  .navbar-nav.active {
    display: flex; /* Show the navigation when active */
  }
}
