* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("");
  background-image: url("banner.png");
}

header {
  background-image: url("logo.png");
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-size: cover;
  /* background-position: center; */
}

.logo {
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

.navbar-nav a {
  text-decoration: none;
  color: #ffffff;
}

.navbar-nav a:hover {
  color: #34c759;
}

.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #34c759;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-extra {
  display: none; /* Hide the hamburger menu by default */
}
.navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #34c759;
}

/* Welcome Section */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.welcome-image img {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.welcome-content h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.welcome-content button {
  background-color: #34c759;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.welcome-content button:hover {
  background-color: #28a745;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-nav {
    display: none; /* Hide the main navigation by default */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust according to the header height */
    left: 0;
    width: 100%;
    background-image: url("logo.png");
    padding: 10px 0;
    border-top: 1px solid #34c759;
    z-index: 10;
    /* justify-content: center; */
  }

  .navbar-extra {
    display: block; /* Show the hamburger menu on small screens */
  }

  .navbar-nav.active {
    display: flex; /* Show the navigation when active */
  }
}

.main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  flex: 1;
  padding: 20px;
}

.banner-image {
  flex: 1;
  padding: 20px;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .main-banner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner-content,
  .banner-image {
    width: 100%;
  }

  .banner-content {
    padding: 20px;
  }

  .banner-image {
    padding: 20px 0;
  }
}
